<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Género</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-info text-center">
            <h1>Agregar Género</h1>
        </div>

        <form method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                {{ form.descripcion }}
            </div>

            {% csrf_token %}
            <input type="submit" value="Agregar Género" class="btn btn-primary btn-lg">
        </form>

        <div class="text-center mt-5">
            <a href="{% url 'libros' %}" class="btn btn-secondary btn-lg">Volver a la lista de Géneros</a>
        </div>
    </div>
</body>
</html>
